os:any
cpu:arm
mm:arc
#d:useMalloc
panics:on
define="danger"
checks="off"
assertions="off"
stackTrace="off"
lineTrace="off"
exceptions:goto
define:noSignalHandler
define:nimAllocPagesViaMalloc # requires arc/orc
define:nimPage512
define:nimMemAlignTiny
